<br>
<h2>Customer Details</h2>
{{#if currentUser}}
<p><b>Name:</b> {{firstName}} {{lastName}} </p>

<p><b>Email:</b> {{email}} </p>

<p>
    <b>Address:</b> <br>
    {{address}}, Apt#: {{apartmentNumber}} <br>
    {{city}}, {{state}}, {{zip}} 
</p>


<a href="/customers/{{_id}}/update-customer">Update customer info</a>
<br><br>
<a href="/customers">Back to customers list</a>
{{/if}}