<br>
<h1>Profile</h1>
{{#if currentUser}}
<h3>Account Details for: {{user.firstName}} {{user.lastName}}</h3>
<p><b>Your email:</b> {{user.email}} </p>
<p><b>Access level:</b> {{user.role}} </p>
<p><b>Store type:</b> {{user.storeType}} </p>
<p>
    <b>Address:</b> <br>
    {{user.address}}, Suite#: {{user.unitNumber}} <br>
    {{user.city}}, {{user.state}}, {{user.zip}} 
</p>
<br>

<button>
    <a href="/auth/update-profile/{{_id}}">Update your profile</a>
</button>

{{/if}}