<div class="profilePage">

<div class="profileContent">

<br>
<h1>Profile</h1>
{{#if currentUser}}
<h3>Account Details for: <br> <br>{{user.firstName}} {{user.lastName}}</h3>
<p><b>Your email:</b> <br> {{user.email}} </p>
<p><b>Access level:</b> <br> {{user.role}} </p>
<p><b>Store type:</b> <br> {{user.storeType}} </p>
<p>
    <b>Address:</b> <br>
    {{user.address}}, Suite#: {{user.unitNumber}} <br>
    {{user.city}}, {{user.state}}, {{user.zip}} 
</p>
<br>

<button>
    <a href="/auth/update-profile/{{user.id}}">Update your profile</a>
</button>

<button>
    <a href="/auth/change-password">Update Password</a>
</button>

{{/if}}

</div>

</div>
