<h1>New Invoice</h1>

<div class="newInvoice">
    <form action="/purchases/create" method="POST">

        <label for="customer">Customer:</label><br>
        <select name="customer" multiple>
            {{#each customer}}
                <option value={{firstName}} {{lastName}} â— {{email}}></option>
            {{/each}}
        </select>

        <br><br>

        <label> Invoice Title: <br>
            <input type="text" name="invoiceTitle" placeholder="Optional">
        </label>

        <br><br>

        <label> Invoice ID: <br>
            <input type="text" name="invoiceId" >
        </label>

        <br><br>

        <label for="invoiceDate">Order date:<br>
            <input type="date" name="invoiceDate" >
        </label>

        <br><br>

        <label for="items">Book Items:</label><br>
        <select name="book" multiple>
            {{#each book}}
                <option value={{title}} {{price}}></option>
            {{/each}}
        </select>

        <br><br>

        <label for="items">Movie Items:</label><br>
        <select name="book" multiple>
            {{#each movie}}
                <option value={{title}} {{price}}></option>
            {{/each}}
        </select>

        <br><br>

        <label for="paymentMethod">Select a payment type:</label><br>
            <input type="radio" name="paymentMethod" value="Credit or debit card">Credit or debit card</input> <br>
            <input type="radio" name="paymentMethod" value="Gift card">Gift card</input> <br>
            <input type="radio" name="paymentMethod" value="Cash">Cash</input> <br>
            <input type="radio" name="paymentMethod" value="Mobile wallet">Mobile wallet</input> <br>
        </select>

        <br><br>

        <label for="invoiceStatus">Select a payment type:</label><br>
            <input type="radio" name="invoiceStatus" value="OPEN">Open</input> <br>
            <input type="radio" name="invoiceStatus" value="CLOSED">Closed</input> <br>
            <input type="radio" name="invoiceStatus" value="CANCELLED">Cancelled</input> <br>
        </select>

        <br><br>
        
        <button type="submit">Save Changes</button>

    </form>
</div>

