
{{!-- {{#each book}} --}}

    <h1>{{title}}</h1>
    <h3>Author: {{author}}</h3>
    <h4>Pages: {{pages}}</h4>
    <h4>Genre: {{genre}}</h4>
    <h4>Price: {{price}}</h4>
    
    
    <button><a href="/books/edit/{{_id}}">Edit This Book</a></button>
    <br>
    <hr>
     <form action="/books/delete/{{_id}}" method="POST">
        <button>Delete</button>
    </form>
{{!-- {{/each}} --}}


